body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #434455;
}

/*header*/

.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.header-logo-text {
  color: #2e2f42;
}
.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}
.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

/*main*/
/*hero section*/

.hero {
  background-color: #2e2f42;
  text-align: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
}
.hero-order-btn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  cursor: pointer;
}
.hero-order-btn:hover,
.hero-order-btn:focus,
.hero-order-btn:active {
  background-color: #404bbf;
}
section > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

/*features section*/

.features-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.features-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-item-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*team section*/
.team-section {
  background-color: #f4f4fd;
}
.team-section-header {
  text-transform: capitalize;
}
.team-member-card {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
}
.team-member-card h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-member-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/*portfolio-section*/

.portfolio-section-header {
  text-transform: capitalize;
}
.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-card-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*footer*/

.main-footer {
  background-color: #2e2f42;
}
.main-footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-text {
  color: #f4f4fd;
}
.main-footer-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
