* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  /**color: #434455;**/
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.main-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.main-header .container {
  display: flex;
  justify-content: space-between;
}
.main-header-nav {
  padding: 24px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo-text {
  color: #2e2f42;
}
.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item.current {
  color: #404bbf;
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:hover::after,
.nav-item:active:after,
.nav-item.current::after {
  opacity: 1;
}
.header-address {
  font-style: normal;
}
.header-address-contacts {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  padding: 24px 0;
}
.contacts-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

/*main*/
/*hero section*/

.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office1.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.hero-order-btn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-order-btn:hover,
.hero-order-btn:focus,
.hero-order-btn:active {
  background-color: #404bbf;
}
section > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

/*features section*/
.features-section,
.team-section,
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.features-section-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.features-section-list-item {
  width: calc((100% - 72px) / 4);
}
.features-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 24px 100px;
  margin-bottom: 8px;
}
.features-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-item-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*team section*/
.team-section {
  background-color: #f4f4fd;
}
.team-section-header {
  text-transform: capitalize;
  font-size: 36px;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.team-member-card {
  background: #ffffff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.team-member-card-content {
  padding: 32px 0;
}
.team-member-card h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-member-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  display: block;
  margin-bottom: 8px;
}
.team-member-card .socials-icons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
}
.socials-icon-image {
  fill: #f4f4fd;
}
.team-member-card .socials-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  width: 40px;
  height: 40px;
  padding: 12px;
  background-color: #4d5ae5;
  fill: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member-card .socials-icon-link:hover,
.team-member-card .socials-icon-link:focus,
.team-member-card .socials-icon-link:active {
  fill: #f4f4fd;
  background-color: #404bbf;
}
/*portfolio-section*/

.portfolio-section-header {
  text-transform: capitalize;
  font-size: 36px;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-card {
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-card-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 40px 32px;
  transform: translateY(100%);
  background-color: #4d5ae5;
  color: #f4f4fd;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover,
.portfolio-list-item:active {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .portfolio-card-overlay {
  transform: translateY(0%);
}
.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-card-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*footer*/

.main-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.main-footer .container {
  display: flex;
  align-items: baseline;
}
.footer-logo-wrapper {
  margin-right: 120px;
}
.main-footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-text {
  color: #f4f4fd;
}
.main-footer-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-socials-title {
  display: block;
  margin-bottom: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #ffffff;
}
.footer-socials-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 0;
  text-align: center;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus,
.footer-socials-link:active {
  background-color: #31d0aa;
  fill: #f4f4fd;
}
.footer-subscribe-form-wrapper {
  margin-left: 80px;
}
.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: block;
  margin-bottom: 16px;
}
.footer-subscribe-form {
  display: flex;
  gap: 24px;
  align-items: center;
}
.footer-subscribe-input {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-subscribe-input::placeholder {
  color: #ffffff;
}
.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  color: #ffffff;
  fill: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.footer-subscribe-icon {
  margin-left: 16px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-window {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
  padding-bottom: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay:not(.is-open) .modal-window {
  transform: translate(-50%, -100%);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 0;
  padding: 0;
  background-color: #e7e9fc;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.modal-moto {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  display: block;
  margin-bottom: 16px;
}
.modal-form-field-wrapper {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:hover,
.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
  color: #2e2f42;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.modal-form-comment-wrapper {
  margin-bottom: 16px;
}
.modal-form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  margin-bottom: 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-comment:hover,
.modal-form-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}
.modal-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.modal-form-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}
.modal-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:checked + .modal-form-checkbox-label > .modal-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.modal-form-checkbox:focus + .modal-form-checkbox-label > .modal-checkbox,
.modal-form-checkbox:hover + .modal-form-checkbox-label > .modal-checkbox {
  border: 1px solid #404bbf;
}
.form-policy-link {
  text-decoration: underline;
  color: #4d5ae5;
}
.modal-form-submit-btn {
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-submit-btn:hover,
.modal-form-submit-btn:focus {
  background-color: #404bbf;
}
