/* =====Common Styles===== */
.hidden {
  display: none;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  /**color: #434455;**/
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
section > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =====/Common Styles===== */
/* =====Header===== */
.main-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu,
.header-address {
  display: none;
}
.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: block;
  padding: 16px 0;
}
.header-logo-text {
  color: #2e2f42;
}
.header-menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.header-menu-icon {
  fill: #2f2f37;
  display: block;
}
@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
  .main-header-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-menu {
    display: flex;
    gap: 40px;
  }
  .nav-item {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-item:hover,
  .nav-item:focus,
  .nav-item.current {
    color: #404bbf;
  }
  .nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-item:hover::after,
  .nav-item:focus::after,
  .nav-item:active:after,
  .nav-item.current::after {
    opacity: 1;
  }
  .header-address {
    font-style: normal;
    display: block;
  }
  .header-address-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-item {
    display: block;
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-item:hover,
  .contacts-item:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .header-address-contacts {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-item {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding: 72px 16px 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  line-height: 0;
  padding: 0;
  background-color: #e7e9fc;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.mobile-navigation {
  margin-bottom: auto;
}
.mobile-menu-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.11%;
  letter-spacing: 0.72px;
  margin-bottom: 168px;
}
.mobile-menu-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-item:hover,
.mobile-menu-item:active,
.mobile-menu-item:focus {
  color: #404bbf;
}
.mobile-address {
  margin-bottom: 48px;
}
.mobile-address-contacts {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.mobile-contacts-item {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts-item:hover,
.mobile-contacts-item:active,
.mobile-contacts-item:focus {
  color: #4d5ae5;
}
.mobile-socials-icons-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}
.mobile-socials-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  width: 40px;
  height: 40px;
  padding: 12px;
  background-color: #4d5ae5;
  fill: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-socials-icon-link:hover,
.mobile-socials-icon-link:active,
.mobile-socials-icon-link:focus {
  fill: #f4f4fd;
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* =====/Header===== */
/* =====Hero===== */
.hero {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;

  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office1.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
}
.hero-title {
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;

  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.11%;
  letter-spacing: 0.72px;
}
.hero-order-btn {
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;

  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-order-btn:hover,
.hero-order-btn:focus,
.hero-order-btn:active {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;

    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;

    font-size: 56px;
    line-height: 107.143%;
    letter-spacing: 1.12px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;

    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero-title {
    margin-bottom: 48px;

    letter-spacing: 0.02em;
  }
}
/* =====/Hero===== */
/* =====Features Section===== */
.features-section,
.team-section,
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.features-section-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.features-section-list-item {
  width: 100%;
}
.features-list-icon {
  display: none;
}
.features-item-header {
  margin-bottom: 8px;
  align-self: stretch;

  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
}
.features-item-content {
  display: block;
  align-self: stretch;

  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .features-section-list {
    column-gap: 24px;
  }
  .features-section-list-item {
    width: 356px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .features-item-header {
    text-align: start;
  }
  .features-item-content {
    font-weight: 500;
  }
}
@media screen and (min-width: 1158px) {
  .features-section,
  .team-section,
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .features-section-header {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .features-section-list {
    justify-content: space-between;
    gap: 24px;
  }
  .features-section-list-item {
    width: calc((100% - 72px) / 4);
  }
  .features-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 264px;
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;

    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }
  .features-item-header {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .features-item-content {
    font-weight: 400;
  }
}
/* =====/Features Section===== */
/* =====Team Section===== */
.team-section {
  background-color: #f4f4fd;
}
.team-section-header {
  margin-bottom: 72px;

  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.11%;
  letter-spacing: 0.72px;
  text-align: center;
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
  padding-left: 12px;
  padding-right: 12px;
}
.team-member-card {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.team-member-card-content {
  padding: 32px 0;
}
.team-member-card h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-member-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  display: block;
  margin-bottom: 8px;
}
.team-member-card .socials-icons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
}
.socials-icon-image {
  fill: #f4f4fd;
}
.team-member-card .socials-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  width: 40px;
  height: 40px;
  padding: 12px;
  background-color: #4d5ae5;
  fill: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member-card .socials-icon-link:hover,
.team-member-card .socials-icon-link:focus,
.team-member-card .socials-icon-link:active {
  fill: #f4f4fd;
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 64px;
    column-gap: 24px;
    padding-left: auto;
    padding-right: auto;
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: space-between;
  }
  .team-section-header {
    text-transform: capitalize;
  }
}
/* =====/Team Section===== */
/* =====Portfolio Section===== */
.portfolio-section-header {
  margin-bottom: 72px;

  text-transform: capitalize;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 111.11%;
  letter-spacing: 0.72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background: #ffffff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-card-overlay {
  display: none;
}
.portfolio-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}
.portfolio-card-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.portfolio-card-content {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5 /* 150% */;
  letter-spacing: 0.32px;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 72px;
    column-gap: 24px;
  }
  .portfolio-list-item {
    max-width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-card-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    padding: 40px 32px;
    transform: translateY(100%);
    background-color: #4d5ae5;
    color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item:hover,
  .portfolio-list-item:active {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }
  .portfolio-list-item:hover .portfolio-card-overlay {
    transform: translateY(0%);
  }
}
/* =====/Portfolio Section===== */
/* =====Footer===== */
.main-footer {
  padding: 96px 0;
  background-color: #2e2f42;
}
.main-footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-footer-logo {
  display: inline-block;
  margin-left: 102px;
  margin-right: 102px;
  margin-bottom: 16px;

  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-text {
  color: #f4f4fd;
}
.main-footer-content {
  max-width: 264px;

  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* =====/Footer===== */
/* =====Modal Window===== */
/* =====/Modal Window===== */
